var/cache/*
var/log/*
vendor/*
.env
.env.*
.env*

.idea

.phpunit.result.cache
.phpunit.cache

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
tests/logs
###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###
