includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
  level: max
  customRulesetUsed: true
  paths:
    - src
  ignoreErrors:
    - identifier: missingType.iterableValue
  checkBenevolentUnionTypes: true
  excludePaths:
    - %rootDir%/../../../tests/*
    - %rootDir%/../../../public/*
    - %rootDir%/../../../config/*
    - src/System/Infrastructure/Dbal/DbalRepository.php
    - src/Users/Infrastructure/Security/SecurityUserProvider.php
    - src/System/Infrastructure/Symfony/DependencyInjection/Compiler/*
    - src/System/Infrastructure/Datadog/*
  symfony:
    containerXmlPath: null
