framework:
    cache:
        app: cache.adapter.array

    messenger:
        buses:
            messenger_command.bus:
                default_middleware: true
                middleware:
                    - App\System\Infrastructure\Symfony\Bus\Middleware\ForceSyncMiddleware
                    - App\System\Infrastructure\Symfony\Bus\Middleware\SpyMiddleware
                    - App\System\Infrastructure\Symfony\Bus\Middleware\HandlerExceptionCatcherMiddleware
            messenger_query.bus:
                default_middleware: true
                middleware:
                    - App\System\Infrastructure\Symfony\Bus\Middleware\ForceSyncMiddleware
                    - App\System\Infrastructure\Symfony\Bus\Middleware\SpyMiddleware
                    - App\System\Infrastructure\Symfony\Bus\Middleware\HandlerExceptionCatcherMiddleware
            messenger_event.bus:
                middleware:
                    - App\System\Infrastructure\Symfony\Bus\Middleware\ForceSyncMiddleware
                    - App\System\Infrastructure\Symfony\Bus\Middleware\SimpleMessagePublisherMiddleware
                    - App\System\Infrastructure\Symfony\Bus\Middleware\SpyMiddleware
                    - App\System\Infrastructure\Symfony\Bus\Middleware\HandlerExceptionCatcherMiddleware
            publish_event.bus:
                default_middleware: allow_no_handlers
                middleware:
                    - App\System\Infrastructure\Symfony\Bus\Middleware\SpyMiddleware
            publish_command.bus:
                default_middleware: allow_no_handlers
                middleware:
                    - App\System\Infrastructure\Symfony\Bus\Middleware\ForceSyncMiddleware
                    - App\System\Infrastructure\Symfony\Bus\Middleware\SpyMiddleware

        routing:

services:
    _defaults:
        autowire: true
        autoconfigure: true


    # Services
    App\Tests\System\Infrastructure\:
        resource: '../tests/System/Infrastructure/*'
        bind:
            Symfony\Component\Messenger\MessageBusInterface $commandBus: '@messenger_command.bus'
            Symfony\Component\Messenger\MessageBusInterface $eventBus: '@messenger_event.bus'

    App\System\Infrastructure\Symfony\Bus\Middleware\SpyMiddleware:
        class: App\System\Infrastructure\Symfony\Bus\Middleware\SpyMiddleware

    http.client.localhost:
        class: App\Tests\System\Infrastructure\Guzzle\ClientMock

    http.client.provider:
        class: App\Tests\System\Infrastructure\Guzzle\ClientMock

    App\Tests\Users\Infrastructure\:
        resource: '../tests/Users/Infrastructure/*'

    App\Tests\Marketplace\Infrastructure\:
        resource: '../tests/Marketplace/Infrastructure/*'
