apiVersion: v1
kind: Service
metadata:
    name: app-service
    namespace: marketplace
spec:
    selector:
        app: app
    ports:
        - protocol: TCP
          port: 80
          targetPort: 80
    type: NodePort

---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: app-deployment
    namespace: marketplace
spec:
    replicas: 1
    selector:
        matchLabels:
            app: app
    template:
        metadata:
            labels:
                app: app
        spec:
            containers:
                - name: php
                  image: docker.io/your-repo/your-php-image:latest
                  imagePullPolicy: IfNotPresent
                  ports:
                      - containerPort: 80
                  envFrom:
                      - configMapRef:
                            name: app-config
